/*
font-family: 'Major Mono Display', monospace;
font-family: 'Big Shoulders Display', cursive;
font-family: 'Cormorant Unicase', serif;
 */


.contact_static {
  font-family: 'Cormorant Unicase', serif;
  color: #A33;
  font-size: 2rem;
}
